{% extends "layout.html" %}

{% block content %}
  <h2 class="mb-4"><i class="fa-solid fa-users me-2"></i> Lista de Adoptantes</h2>

  <table class="table table-striped table-hover shadow-sm">
    <thead class="table-primary">
      <tr>
        <!--PREGUNTA 4 - CREAR EL ENCABEZADO DE LA TABLA DE LA LISTA DE ADOPTANTES-->

        <th scope="col">Mascota</th>
        <th scope="col">Adoptante</th>
        <th scope="col">Email</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Fecha de adopción</th>

        
      </tr>
    </thead>
    <tbody>

      <!--PREGUNTA 4 - CREAR EL CUERPO DE LA TABLA CON LOS DATOS DE LOS ADOPTANTES-->

        {% for adopcion in adopciones %}
          <tr>
            <td>{{ adopcion.mascota.nombre }}</td>
            <td>{{ adopcion.persona.nombre }}</td>
            <td>{{ adopcion.persona.email }}</td>
            <td>{{ adopcion.persona.telefono }}</td>
            <td>{{ adopcion.fecha_adopcion }}</td>
          </tr>

        {% empty %}

        <tr><td colspan="5">No hay adopciones registradas.</td></tr>

        {% endfor %}


      <!--REVISAR EL SITIO WEB : https://afsegovia.pythonanywhere.com/ PARA EL DESARROLLO DE LA LISTA DE ADOPTANTES-->

    </tbody>
  </table>
{% endblock %}
