{% extends "layout.html" %}

{% block content %}
  <h2 class="mb-4"><i class="fa-solid fa-users me-2"></i> Lista de Adoptantes</h2>

  <table class="table table-striped table-hover shadow-sm">
    <thead class="table-primary">
      <tr>
        <!--PREGUNTA 4 - CREAR EL ENCABEZADO DE LA TABLA DE LA LISTA DE ADOPTANTES-->



        
      </tr>
    </thead>
    <tbody>

      <!--PREGUNTA 4 - CREAR EL CUERPO DE LA TABLA CON LOS DATOS DE LOS ADOPTANTES-->
      <!--REVISAR EL SITIO WEB : https://afsegovia.pythonanywhere.com/ PARA EL DESARROLLO DE LA LISTA DE ADOPTANTES-->

    </tbody>
  </table>
{% endblock %}
